<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page idade :)</title>
    <link rel="stylesheet" href="style.css" />
    
  </head>
  <style>
    body {
      font: normal 15pt Arial;
    }
  </style>
  <body>
    <header>
      <h1>Tábuada</h1>
    </header>
    <section>
      <div>
        <p>
          Insira um valor
        </p>
         <p>  
          <input type="text" placeholder="Número" id="number">
         </p>
        
          <input type="button" value="Gerar" class="btn" onclick="tabuada()">
          <input type="button" value="Zerar tábuada" class="btn" onclick="zerar()">
      
      </div>
      <div id="res">
      
      </div>
    </section>
    <footer>
      <p>E-conta &copy; 2023</p>
    </footer>
    <script src="javascript.js"></script>
    
  </body>
</html>
