<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
    background-color: black;
    color: white;
    font: normal 20pt Arial;
}
    </style>
    <title>Aula 06</title>
</head>
<body>
    
</body>
<script>
    var sal = Number(prompt('quanto você recebe?'))
    document.write(`você recebe ${sal.toLocaleString('us-EN', {style: 'currency', currency: 'USD'})}`)
</script>
</html>