<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page :)</title>
    <script src="javascript.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<style>
     body {
        font: normal 15pt Arial;
      }
</style>
<body onload="date()">
    <header>
        <h1 id="title">Titulo aqui</h1>
    </header>
    <section>
        <div id="msg">
           aqui vai
        </div>
        <div id="foto">
            <img id="img" src="img/fotomanha.png" alt="">
        </div>
    </section>
    <footer>
        <p>E-clima &copy; 2023</p>   
    </footer>
</body>
</html>