<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeiros passo com DOM</title>
    <style>
        body{
            background: rgb(90, 66, 209);
        }
    </style>
</head>
<body>
    <h1>
        Olá, mundo!
    </h1>
    <p>OI</p>
    <p>Aprendendo a usa <strong>DOM</strong> em JavaScript.</p>
    <div id="click">Clique aqui</div>
    <script>
        var p1 = window.document.getElementsByTagName('p')[1]
        window.document.write('Está escrito assim: ' + p1.innerText)
        var input = document.getElementById('click')
        input.style.background = 'green'
        input.innerText = 'Estou aguardando...' 
    </script>
</body>
</html>